{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <meta charset="UTF-8">
    <title>Futures Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="chart-header">
        <img src="{% static 'dashboard/assets/greece.png' %}" alt="Greece Flag">
        Greece

    </div>
    <div class="chart-container">
        
    </div>
    <canvas id="futuresChart"></canvas>
    <script>
        async function fetchData() {
            const response = await fetch('/api/futures-data/');
            const result = await response.json();

            if (result.status !== 'success') {
                alert('Failed to fetch data');
                return;chart.css
        
            }

            const data = result.data;

            const labels = data.map(entry => entry.date);
            const prices = data.map(entry => parseFloat(entry.average_price));
            const changes = data.map(entry => entry.percentage_change);

            const ctx = document.getElementById('futuresChart').getContext('2d');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Average Price (€)',
                        data: prices,
                        borderColor: 'rgba(52, 107, 167, 0.8)',
                        tension: 0,
                        borderWidth: 2,
                        fill: false,
                        pointBackgroundColor: 'white',
                        pointBorderColor: 'rgba(52, 107, 167, 0.8)',
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                    },
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: false,
                                text: 'Date'
                            }
                        },
                        y: {
                            title: {
                                display: false,
                                text: 'Average Price (€)'
                            }
                        }
                    }
                }
            });
        }

        fetchData();
    </script>
</body>
</html>
